@import "tailwindcss";

:root {
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("/bg-images/moon.png"), url("/bg-images/land.png"),
    url("/bg-images/star1.png"), url("/bg-images/star2.png"),
    linear-gradient(to bottom, #260051 0%, #5d0065 54%, #f6abab 100%);
  background-size: 35%, contain, contain, contain, contain;
  background-position: 92% 4%, bottom, top, top, bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}

@keyframes constellationFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body::after {
  content: "";
  position: absolute;
  background-image: url("/bg-images/constellation.png");
  background-size: contain;
  background-repeat: no-repeat;
  animation: constellationFade 1.5s infinite alternate ease-in-out;
  width: 93vw;
  height: 50vh;
  top: -30%;
  left: 4%;
  z-index: -1;
}
